# require gcc > 5 & < 10
natsort
#==46.0.66 
opencv-python
torch>=1.7.1
torchvision
tqdm
numpy
facexlib
# basicsr>=1.4.0
pandas
timm
einops
scikit-learn
ninja
# metrics
lpips
arcface
pyiqa # requires python<3.10
# uncomment the next line for using serfiq # install mxnet-cuxxx according to ur cuda version
# mxnet-cu117
zipfile38 # for python3.8